<a href="https://colab.research.google.com/github/handhak0/python_multicampus/blob/main/Unit_4_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 4. 기본 문법 알아보기

In [1]:
# 4.1 세미콜론 

print('Hello') ; print('World')

Hello
World

# Unit 5. 숫자 계산하기

In [4]:
# 5.1 정수 계산하기 

# int 

print(1+1) ; print(15/2) ; print(5//2) ; print(5%2) ; print(2**10) ; print(int(3.3)) ; print(type(10))

2
7.5
2
1
1024
3
<class 'int'>

*몫과 나머지 함께 구하기*

In [5]:
# 몫과 나머지 함께 구하기 
divmod(5,2)

(2, 1)

In [6]:
q , r = divmod(5,2)
q , r

(2, 1)

*진수*

In [7]:
# 진수, 8진수, 16진수 

# 2진수 : 숫자 앞에 0b 붙임 
print(0b110)

# 8진수 : 숫자 앞에 0o을 붙임
print(0o10)

#16진수 : 숫자 앞에 0x 또는 0X 붙이며 0~9, A~F 까지 사용 

print(0xF)

6
8
15

In [8]:
# 5.2 실수 계산하기 

float('5.3')

5.3

*복소수*

In [9]:
# complex 사용 
complex(1.2, 1.3)

(1.2+1.3j)

In [11]:
# 5.5 연습문제 : 아파트에서 소음이 가장 심한 층수 출력하기 

print(int(0.2467 * 12 + 4.159))

7

In [12]:
# 5.6 심사문제 : 스킬 공격력 출력하기 
AP = 102 
damage = AP*0.6 + 225 

print(damage)

286.2

# Unit 6. 변수와 입력 사용하기

In [13]:
# 6.1 변수 만들기 

x, y, z = 10, 20, 'babo'

print(x, y, z)

10 20 babo

In [14]:
x = y = z = 10 

print(x, y, z)

10 10 10

*변수 삭제하기*

In [15]:
del x 
x

NameError: ignored

In [16]:
x = None
x

In [17]:
# 6.2 변수로 계산하기

a = 10 
b = 20 
c = a + b 
c

30

In [18]:
a = 10 
a += 20 
a

30

In [19]:
# 6.3 input 함수 사용하기 

x = input()
x

hello

'hello'

In [20]:
a, b = map(int, input().split())
print(a+b)

10 20
30

In [21]:
# 6.6 연습문제 : 정수 세 개 입력받고 합계 출력하기 

a, b, c = map(int, input().split())
print(a+b+c)

-10 20 30
40

In [23]:
# 6.7 심사문제 : 변수 만들기 

a, b, c = input().split()

print(a,b,c)

50 100 None
50 100 None

In [25]:
# 6.8 심사문제 : 평균 점수 구하기 

ko, en, ma, si = map(int, input().split())

print(int((ko+en+ma+si)/4))

83 92 87 90
88

# Unit 7. 출력 방법 알아보기

In [27]:
print(4,5,6, sep = " ")

4 5 6

In [28]:
print(4,5,6, sep = '\n')

4
5
6

In [29]:
print('1\n2\n4')

1
2
4

In [30]:
print(1, end = '')
print(2, end ='')
print(3)

123

In [31]:
print(1, end = ' ')
print(2, end =' ')
print(3)

1 2 3

In [33]:
# 7.4 연습문제 : 날짜와 시간 출력하기 
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep ="/", end = ' ')
print(hour, minute, second, sep = ":")

2000/10/27 11:43:59

In [34]:
# 7.5 심사문제 : 날짜와 시간 출력하기

# Unit 8 불과 비교, 논리 연산자 알아보기

In [35]:
1 is 1.0

False

In [36]:
# 8.4 연습문제

korean = 92
english = 47
mathematics = 86
science = 81

print((korean>=50) & (english >=50) & (mathematics >= 50) & (science >= 50) )

False

# Unit 9. 문자열 사용하기

In [37]:
hello = '''
안녕하세요
저는 
손학영입니다. 
''' 

print(hello)

안녕하세요
저는
손학영입니다.

In [39]:
print("'안녕하세요'")

'안녕하세요'

# Unit 10. 리스트와 튜플 사용하기

In [40]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
b = tuple(range(10))
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

*리스트 튜프 언패킹*

In [42]:
x = [1,2,3]

a, b, c = x 

print( a, b, c)

1 2 3

In [43]:
x = (4, 5, 6)

a, b, c = x 
print(a, b, c)

4 5 6

# Unit 11. 시퀀스 자료형 활용하기

In [44]:
1 in range(10)

True

In [45]:
'P' in 'Python'

True

In [46]:
a = [1,2,3,4]
b = [5,6,7,8]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
del a[2]
a

[1, 2, 4]

In [48]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:3]

[20, 50]

In [49]:
a[:7 :2]

[0, 20, 40, 60]

In [50]:
a[3::2]

[30, 50, 70, 90]

In [51]:
del a[3:4]
a

[0, 10, 20, 40, 50, 60, 70, 80, 90]

In [54]:
# 11.8 심사문제 : 리스트 문자열 짝수랑 홀수 합치기 
a = input()
b = input()

a[1:len(a):2] + b[0:len(b):2]

apple
strawberry

'plsrwer'

# Unit 12. 딕셔너리 사용하기

In [56]:
lux = {'he' : 490, 'ma' : 334, 'me' : 550, 'ar' :18.72 }

In [57]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))

In [58]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])

In [59]:
 lux4 = dict({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})

In [60]:
lux2['health'] = 200
lux2

{'armor': 18.72, 'health': 200, 'mana': 334, 'melee': 550}

In [61]:
lux['heatl'] = 300
lux

{'ar': 18.72, 'he': 490, 'heatl': 300, 'ma': 334, 'me': 550}

In [63]:
'he' in lux

True

# Unit 13. if 조건문으로 특정 조건일 때 코드 실행하기