# Unit 22 리스트와 튜플 응용하기

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
# extend

b = [100,200,300]

a.extend(b)

a

[10, 20, 30, 500, 100, 200, 300]

In [3]:
# 리스트의 특정 인덱스에 요소 추가하기

a.insert(2,1000)
a

[10, 20, 1000, 30, 500, 100, 200, 300]

In [4]:
a.insert(2,[11,22])
a

[10, 20, [11, 22], 1000, 30, 500, 100, 200, 300]

In [6]:
# 슬라이스 사용해서 추가하기 
a = [10,20,30]

a[1:1] = [500,600]  # 시작 인덱스와 끝 인덱스를 같게 지정하면 해당 인덱스의 요소를 덮어쓰지 않으면서 요소 여러 개를 중간에 추가 가능
a

[10, 500, 600, 20, 30]

In [7]:
# 리스트에서 인덱스로 요소 삭제하기 

a.pop() # 빈 상태면 마지막 요소만 삭제하고 반환

30

In [9]:
del a[1]

In [10]:
a

[10, 600, 20]

In [11]:
# 리스트에서 특정 값 찾아서 삭제하기 
a.remove(20)
a

[10, 600]

In [12]:
# 리스트에서 특정 값의 인덱스 구하기 
a.index(10)

0

In [13]:
# 특정 값의 개수 구하기 

a = [10, 20, 20, 30, 40]

a.count(20)

2

In [14]:
# 리스트의 순서 뒤집기 

a.reverse()
a

[40, 30, 20, 20, 10]

In [15]:
# 리스트 정렬 

a.sort() #sorted(a) 도 같음 
a

[10, 20, 20, 30, 40]

In [16]:
# 리스트의 모든 요소를 삭제하기 

a = [10,20,30]
a.clear() # del a [:]

a

[]

In [17]:
# 리스트를 슬라이스로 조작하기 

a = [10,20,30]
a[len(a):] = [500]
a

[10, 20, 30, 500]

## enumerate()

In [18]:
# 인덱스랑 같이 출력하기 

for index, value in enumerate(a) :
    print(index, value)

0 10
1 20
2 30
3 500

In [19]:
# 인덱스를 1부터 시작하게 해주려면?? 

for index, value in enumerate(a, start = 1) :
    print(index, value)

1 10
2 20
3 30
4 500

In [20]:
# 가장 작은 수와 가장 큰 수 구하기 

a = [20,35,157,21]

smallest = a[0]

for i in a : 
    if i < smallest : 
        smallest = i 
smallest

20

In [21]:
largest = a[0]

for i in a : 
    if i > largest : 
        largest = i 


largest

157

In [22]:
a.sort()
a[0]

20

In [23]:
a.reverse()
a[0]

157

In [24]:
min(a)

20

In [25]:
max(a)

157

In [26]:
# 요소 합계 구하기 

x = 0 

for i in a : 
    x += i 

x

233

In [27]:
sum(a)

233

In [28]:
# 리스트 표현식 사용하기 


a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
c = [i+5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [30]:
# 리스트 표현식에서 if 조건문 사용하기 

a = [i for i in range(10) if i%2 == 0]
a

[0, 2, 4, 6, 8]

In [ ]:
# for 문과 if 조건문을 여러 번 사용하기 

a = [i*j for j in range(2,10) for i in range(1, 10)]
a

In [32]:
a = [1.2, 2.3, 33.4, 2.5]
a = list(map(int, a))

a

[1, 2, 33, 2]

In [33]:
a, b = [10, 20]
print(a)
print(b)

10
20

In [35]:
# 튜플 

a = (38, 21, 53, 62, 19, 53)
a.index(53)

2

In [38]:
for i in a : 
    print(i, end = ' ')

38 21 53 62 19 53

In [39]:
a = tuple(i for i in range(10) if i % 2 == 0)
a

(0, 2, 4, 6, 8)

In [40]:
# 22.9 연습문제 
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = list(i for i in a if len(i) == 5)

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [ ]:
# 22.10 심사문제 

a, b = map(int, input().split())

c = list(2**i for i in range(a, b+1))

c.pop(1)
c.pop(-2)
print(c)

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

# Unit 23 2차원 리스트 사용하기

In [1]:
a = [[10, 20], [30, 40], [50, 60]]

a[0]

[10, 20]

In [2]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a : 
    print(x,y)

10 20
30 40
50 60

In [4]:
i = 0
while i < len(a) : 
    x, y = a[i]
    print(x,y)
    i += 1

10 20
30 40
50 60

In [5]:
a = []

for i in range(10) : 
    a.append(i)
print(a )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# for 문으로 2차원 리스트 만들기 

a = []

for i in range(10) : 
    line = []
    for j in range(3) : 
        line.append(j) 
    a.append(line)

print(a)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [7]:
a = [[0 for j in range(3)] for i in range(4)]
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

# Unit 24. 문자열 사용하기

In [8]:
# 문자열 리스트 연결하기 

' '.join(['a', 'p','l'])

'a p l'

In [9]:
'python'.upper()

'PYTHON'

In [10]:
'       python       '.lstrip()

'python       '

In [11]:
'       python       '.strip()

'python'

In [17]:
',  python   ,    '.strip(',.')

'  python   ,    '

In [18]:
# 문자열 왼쪽 정렬 
'python'.ljust(10)

'python    '

In [19]:
'35'.zfill(4)

'0035'

## 서식 지정자

In [20]:
# %s string 
'I am %s.' % 'hakyoung'

'I am hankyoung.'

In [21]:
# %d number 

'I am %d years old' % 25

'I am 25 years old'

In [23]:
# %f 소수점 
'%.4f' % 2.3

'2.3000'

In [24]:
# 서식 지정자로 문자열 정렬하기 
# 문자 길이 설정 
'%10s' % 'python'

'    python'

In [25]:
'Today is %d %s' % (3, 'April')

'Today is 3 April'

## 문자열 포매팅

In [26]:
lan = 'python'
ver = 3.6 

f'Hello, {lan}, {ver}'

'Hello, python, 3.6'

In [27]:
# format 메서드로 문자열 정렬하기 

'{0:<10}'.format('python') # 왼쪽 정렬 10글자

'python    '

# Unit 25. 딕셔너리 응용하기

In [29]:
 x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

 # 기본값 저장하기 
 x.setdefault('e')

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [30]:
# 기본 키와 값 저장 

x.setdefault('f', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [31]:
# 키의 값 수정하기 

x.update(a = 90)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [32]:
y = {1: 'one', 2: 'two'}

In [33]:
y.update(zip([3,4], ['three', 'four']))
y

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [34]:
# 삭제 
x.pop('a') # del 도 가능 
x

{'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [35]:
# 값 가져오기 

x.get('b')

20

In [37]:
x.keys()

dict_keys(['b', 'c', 'd', 'e', 'f'])

In [38]:
x.values()

dict_values([20, 30, 40, None, 100])

In [40]:
for x, y in x.items() : 
    print (x, y)

b 20
c 30
d 40
e None
f 100

In [42]:
keys = ['a', 'b', 'c', 'd']

c = {key : value for key, value in dict.fromkeys(keys).items()}
c

{'a': None, 'b': None, 'c': None, 'd': None}

In [43]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

print(terrestrial_planet['Venus']['mean_radius'])

6051.8

## 중첩 딕셔너리 복사

In [44]:
 x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

 import copy 
 y = copy.deepcopy(x)

 y

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

# Unit 26. 세트 사용하기

In [1]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

### *집합 연산하기*

In [3]:
# 합집합
a = {1, 2, 3, 4}
b = {2,5,6,8}

a | b # set.union(a,b)

{1, 2, 3, 4, 5, 6, 8}

In [4]:
# 교집합 
a&b

{2}

In [5]:
# 차집합
a-b

{1, 3, 4}

In [6]:
# 대칭차집합
a^b

{1, 3, 4, 5, 6, 8}

### *집합 연산 후 할당 연산자 사용하기*

In [1]:
a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}