In [ ]:
# rwx : read write access
# - owner -  group - others 
!ls - l sample_data/

ls: cannot access '-': No such file or directory
ls: cannot access 'l': No such file or directory
sample_data/:
anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

# unit 27 파일

## 27.1 문자열 쓰기, 읽기

In [ ]:
file = open('hello.txt', 'w') # mode = w (write) // read close 등 모드가 있음 
file.write('Hello, world!') # write하기 
file.close() # 파일 객체 닫기 

## 항상 파일은 open하고 write하고 close하게 되어 있음

In [ ]:
# cat은 unix 명령어 (윈도우에서는 type)
!cat hello.txt #파일 내용 보기

Hello, world!

In [ ]:
file = open('hello.txt', 'r') # 'r' mode가 default 
s = file.read()
print(s)
file.close()

Hello, world!

In [ ]:
## 파이썬 스타일

In [ ]:
with open('hello.txt') as file : #with부터 들여쓰기 하는 부분까지는 file이 open 되어 있다가 끝나면 알아서 close해준다  
  s = file.read()
print(s)

Hello, world!

In [ ]:
with open('hello.txt', 'w') as file : # w는 overwrite 모드임 
  for i in range(3) : 
    file.write(f'Hello, world! {i+1}\n')

In [ ]:
!cat hello.txt

Hello, world! 1
Hello, world! 2
Hello, world! 3

In [ ]:
lines = ['안녕하세요. \n' ,'파이썬\n', '코딩도장입니다.\n'] 
with open('hello.txt', 'w') as file : #가끔 encoding이 필요한 경우도 있음 
  file.writelines(lines) #리스트를 line으로 받아서 써주는 것

In [ ]:
!cat hello.txt

안녕하세요.
파이썬
코딩도장입니다.

In [ ]:
s = '''안녕하세요. 
파이썬
코딩도장입니다.'''
with open('hello.txt', 'w') as file : 
  file.write(s)

In [ ]:
#여러 줄로 되어있는 경우를 읽는 것 

with open('hello.txt', 'r') as file : 
  s = file.read()
print(s)

안녕하세요.
파이썬
코딩도장입니다.

In [ ]:
# 한 줄만 읽어오기
with open('hello.txt', 'r') as file : 
  s = file.readline()
print(s)

안녕하세요.

In [ ]:
# 한 줄씩 읽어오기
with open('hello.txt', 'r') as file : 
  line = None
  while line != '':
    line = file.readline()
    print(line.strip('\n'))

안녕하세요.
파이썬
코딩도장입니다.

In [ ]:
# 한 줄씩 읽어오기
with open('hello.txt', 'r') as file : 
  for line in file:
    print(line.strip('\n'))

안녕하세요.
파이썬
코딩도장입니다.

In [ ]:
dir(file)

#'__iter__'가 정의되어 있으면 for문을 사용할 수 있다.

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [ ]:
x = {'a' : 10, 'b' : 20 }
dir (x) 

#le 는 부등호 len은 len을 사용가능하다

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# 글자수 읽어오기
with open('hello.txt', 'r') as file : 
  s = file.read(10) #10글자 읽어오라는 듯 
print(s)

안녕하세요.
파이

### append

In [ ]:
with open('hello.txt', 'a') as file : # append
  file.write('Append\n')

In [ ]:
!cat hello.txt

안녕하세요.
파이썬
코딩도장입니다.Append

### binary mode

In [ ]:
# 피클링할 때 사용하는 것임
with open('chairs.jpg', 'rb') as bin : #rb : readbinary 
  x=bin.read(10)

print(f'{x:x}')

FileNotFoundError: ignored

## 27.3 파이썬 객체 읽고 쓰기

In [ ]:
#모델을 파일에다가 저장하는 경우가 생기는데 그럴 때 피클링을 사용한다. 

import pickle 

scores = {'kor' : 90, 'eng' : 95, 'mat' : 80}
with open('binary.pkl', 'wb') as file : 
  pickle.dump(scores, file)

In [ ]:
!cat binary.pkl

�}q (X   korqKZX   engqK_X   matqKPu.

In [ ]:
with open('binary.pkl','rb') as file : 
  new_scores = pickle.load(file)
  
new_scores

{'eng': 95, 'kor': 90, 'mat': 80}

In [ ]:
8+40+5.5

53.5

In [ ]:
53.5*11150

596525.0

In [ ]:
'''
github에 코드를 공개할 때, key값은 file에다가 저장해둠 
apikey.txt 에 저장해두고 
프로그램에서는 apikey를 key = f.read(apikey.txt) 로 사용 
apikey는 gitignore에다가 저장해둠 
그러면 apikey.txt 는 github에 안올라감 
'''

# Unit 29. 함수

## 29.1 출력 함수 만들기

In [ ]:
# 함수는 모듈화를 통해 반복되는 코드를 간략하게 만들어주는 것 

# 코드의 용도를 구분할 수 있게 해준다 
# 코드를 재사용할 수 있다
# 실수를 줄일 수 있다 

def hello() : 
  print('Hello, world!')

In [ ]:
hello()

Hello, world!

In [ ]:
def hello2() : 
  print('Hello, world!')

# 29.2 덧셈 함수

In [ ]:
# 유용한 함수가 되기 위해선 유연성이 중요함 
# 매개변수, parameter, argument
def add(a, b) : 
  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. 
  """
  return a + b

In [ ]:
add(4,5)

9

In [ ]:
# 도움말 호출 
add?

## 29.3 결과값 반환

In [ ]:
def add(a,b) : 
  return a+b

In [ ]:
add(4,5) , add(10,20)

(9, 30)

In [ ]:
x = add(24, 45)
x

69

In [ ]:
def is_ten(x) :
  return x ==10

In [ ]:
is_ten(101//10)

True

In [ ]:
def not_ten(x) : 
  if x == 10 : 
    return
  else : 
    print('It is not 10.')

In [ ]:
not_ten(70)

It is not 10.

## 29.4 여러 개 반환

In [ ]:
def add_sub(a,b) : 
  return a+b, a-b

## 29.5 함수의 호출 과정

In [ ]:
# stack을 이용한다

## 연습문제 
- 3자리 수 정수 두 개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?

In [ ]:
# 팔린드롬 ex) 12321 

def palindrome(x) : 
  s = str(x)
  return s == s[::-1] # 스트링 뒤집기 


max_pal = 0 
for i in range(100,1000) : 
  for k in range(i,1000) : 
    if palindrome(i*k) : 
      if max_pal < i*k : 
        max_pal = i*k
        m = i 
        n = k 
    else : 
      pass
max_pal, m, n

(906609, 913, 993)

# unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [ ]:
def print_numbers(a,b,c) : 
  print(a)
  print(b)
  print(c)


print_numbers(10,20,30) # 10,20,30 은 위치 인수

10
20
30

In [ ]:
# *x 리스트 언팩킹 *y 튜플 언팩킹
x, y= [10,20,30], (40,50,60)

print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

## 가변 인수

In [ ]:
def print_numbers(*args) : # *args arguments 
  for arg in args : 
    print(arg)

In [ ]:
print_numbers(10,20,30,40,50)

10
20
30
40
50

### 고정 인수와 가변 인수

In [ ]:
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야 함 
def print_numbers3(a, *args) : 
  print(a)
  print(args)

In [ ]:
print_numbers3(1, 100,20,2040)

1
(100, 20, 2040)

In [ ]:
print_numbers3(*x)

10
(20, 30)

## 30.2 키워드 인수

In [ ]:
def personal_info(name, age, addr) : 
  print('이름 : ', name)
  print('나이 : ', age)
  print('주소 : ', addr)

In [ ]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름 :  홍길동
나이 :  30
주소 :  서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [ ]:
x = {'name' : '홍길동', 'age' : 30, 'addr': '서울 강남구'}
personal_info(**x) # 딕셔너리 언패킹 *하나면 key 출력 **면 value 출력

이름 :  홍길동
나이 :  30
주소 :  서울 강남구

### 가변 키워드 인수

In [ ]:
def personal(**kwargs) : 
  for key, value in kwargs.items() : 
    print(f'{key} : {value}')

In [ ]:
personal(**x)

name : 홍길동
age : 30
addr : 서울 강남구

In [ ]:
personal(name = '홍길동', age = 30) # 두 개만 줘도 괜찮음

name : 홍길동
age : 30

In [ ]:
def personal3(name, **kwargs) : 
  print(name)
  print(kwargs)

In [ ]:
personal3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구'}

### 위치 인수와 키워드 인수

In [ ]:
def my_print(*args, **kwargs) : 
  print(*args, **kwargs)

In [ ]:
my_print(10,20,30, sep =', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [ ]:
def personal_info4(name, age, addr = '비공개') : 
  print('이름 : ', name)
  print('나이 : ', age)
  print('주소 : ', addr)

In [ ]:
personal_info4('길동', 40)

이름 :  길동
나이 :  40
주소 :  비공개

In [ ]:
personal_info4(**x)

이름 :  홍길동
나이 :  30
주소 :  서울 강남구

# Unit 31. 재귀호출(Recursive Call)

## factorial 함수를 재귀호출로 구현

In [ ]:
def factorial(n) : 
  if n==0 : 
    return 1 
  return n*factorial(n-1) # n! = n*(n-1)! 단) n=0일 경우 1 0!=1

In [ ]:
factorial(5)

120

In [ ]:
def fibo(n) : 
  if n < 3 : 
    return 1
  return fibo(n-1) + fibo(n-2)

In [ ]:
fibo(10)

55

In [ ]:
[fibo(i) for i in range(1,11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Unit 32. 람다 표현식으로 함수 만들기

In [1]:
# 람다 표현식 자체를 호출하기 

(lambda x : x+10)(1)

11

In [2]:
# 람다 표현식 안에서는 변수를 만들 수 없다 

(lambda x: y=10; x+y)(1)

SyntaxError: invalid syntax (<ipython-input-2-fd7c1d4dcf4e>, line 3)

In [3]:
y =10 
(lambda x : x+y)(1)

11

In [4]:
# 람다 표현식을 인수로 사용하기 

def plus_ten(x) : 
    return x+10

list(map(plus_ten, [1,2,3]))

[11, 12, 13]

In [5]:
list(map(lambda x: x+10, [1,2,3]))

[11, 12, 13]

In [8]:
a = list(range(1,11))

list(map(lambda x : str(x) if x%3==0 else x,a)) # 람다 표현식에서 if 를 사용했다면 반드시 else 사용해야 한다.

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [10]:
# map에 객체를 여러 개 넣기 

a = [1,2,3,4,5]
b = list(range(2,12,2))

list(map(lambda x, y : x*y, a, b))

[2, 8, 18, 32, 50]

In [11]:
a = [3,4,1,7,12,9,45]
list(filter(lambda x: x>5 and x<10, a))

[7, 9]

# Unit 33. 클로저 사용하기

In [12]:
def print_hello() : 
    hello = 'hello world'

    def print_message(): 
        print(hello)
    print_message()

print_hello()

hello world

In [16]:
# 지역 변수 변경하기 

def A() : 
    x = 10 
    def B() : 
        nonlocal x 
        x = 20 
    B()

    print(x)
A()

20

In [14]:
# global 변수 

x = 1 

def A() : 
    x = 10 
    def B() : 
        x =20 
        def C() : 
            global x 
            x = x +30 
            print(x)
        C()
    B()

A()

31

In [17]:
# 클로저 사용하기 : 함수를 둘러싼 환경을 계속 유지하다가, 함수를 호출할 때 다시 꺼내서 사용하는 함수

def calc() : 
    a = 3 
    b = 5 
    def mul_add(x) : 
        return a * x + b 
    return mul_add # mui_add 함수를 반환 

c = calc() # 클로저 함수 

print(c(1), c(2))

8 11

In [19]:
def calc() : 
    a = 3 
    b = 5 
    return lambda x : a*x+b

c = calc()
c(1)

8